---
import Layout from '../layouts/Layout.astro';
import JadeTitle from '../components/JadeTitle.astro';
import JadeSlogan from '../components/JadeSlogan.astro';
import Counter from "../react/Counter.tsx";
import ProgressBar from "../react/ProgressBar";
import JadeDescription from '../components/JadeDescription.astro';
import JadeNotifyInput from '../components/JadeNotifyInput.astro';
import JadeButton from '../components/JadeButton.astro';
import MoreInformation from '../components/MoreInformation.astro';
---

<Layout title="Jade Coming Soon Template">
	<main class="z-10">
		<div class="w-[100vw] h-[100vh] bg-star-bg color text-semantic flex flex-col justify-center text-center">
			<canvas class="w-[100vw] h-[100vh] absolute top-0 left-0" id="background"></canvas>
			<div class="z-10 w-[100%] md:w-[50%] md:flex md:flex-col md:mx-auto lg:w-[600px]">
				<JadeTitle>Coming Soon</JadeTitle>
				<JadeSlogan>¡We're working hard in something amazing!</JadeSlogan>
				<Counter date="2025-12-01"/>
				<ProgressBar percentage={35}/>
				<JadeDescription/>
				<JadeNotifyInput/>
				<div class="mt-10 text-center z-10">
					<JadeButton type="primary" id="btn-show-information"/>
				</div>
			</div>
		</div>
		<MoreInformation/>
	</main>
</Layout>
<script is:inline>
	(() => {

		let background_type = 'stars';

		let moreInformation = document.getElementById('more-information');
		let btnShowInformation = document.getElementById('btn-show-information');
		let btnCloseMoreInformation = document.getElementById('btn-close-more-information');
		btnShowInformation.addEventListener('click', function(e){
			moreInformation.classList.remove('hidden');
			moreInformation.classList.add('animate__animated');
			moreInformation.classList.add('animate__fadeIn');
		});
		btnCloseMoreInformation.addEventListener('click', function(){
			moreInformation.classList.add('animate__animated');
			moreInformation.classList.add('animate__fadeOut')
			setTimeout(() => {
				moreInformation.classList.add('hidden');
				moreInformation.classList.remove('animate__animated');
				moreInformation.classList.remove('animate__fadeOut');
			}, 500);
		});

		if(background_type === 'stars')
		{
			let canvas= document.getElementById('background');
			var ctx = canvas.getContext("2d");
			var W = window.innerWidth;
			var H = window.innerHeight;
			//Set Canvas and Background Color;
			canvas.width = W;
			canvas.height = H;
			ctx.fillStyle = "rgba(0, 0, 0, 0.5)";
			ctx.fillRect(0, 0, W, H);
			//Glow effect;
			ctx.shadowBlur = 10;
			ctx.shadowColor = "white";
			function animate() {
				//Random position and size of stars;
				let x = W * Math.random();
				let y = H * Math.random();
				let r = 2.5 * Math.random();
				//Draw the stars;
				ctx.beginPath();
				ctx.fillStyle = "white";
				ctx.arc(x, y, r, 0, Math.PI * 2);
				ctx.fill();
				//Using setTimeout instead of window.requestAnimationFrame for slower speed... window.requestAnimationFrame is approximately equal to setTimeout(func, 17);
				setTimeout(animate, 700);
			}
			animate();
		}

	})();
</script>