---
import Layout from '../layouts/Layout.astro';
import JadeTitle from '../components/JadeTitle.astro';
import JadeSlogan from '../components/JadeSlogan.astro';
import Counter from "../react/Counter.tsx";
import ProgressBar from "../react/ProgressBar";
import JadeDescription from '../components/JadeDescription.astro';
import JadeNotifyInput from '../components/JadeNotifyInput.astro';
import JadeButton from '../components/JadeButton.astro';
import MoreInformation from '../components/MoreInformation.astro';
---

<Layout title="Jade Coming Soon Template">
	<main>
		<div class="w-[100vw] h-[100vh] bg-star-bg color text-semantic flex flex-col justify-center text-center">
			<JadeTitle>Coming Soon</JadeTitle>
			<JadeSlogan>¡We're working hard in something amazing!</JadeSlogan>
			<Counter date="2025-12-01"/>
			<ProgressBar percentage={35}/>
			<JadeDescription/>
			<JadeNotifyInput/>
			<div class="mt-10 text-center">
				<JadeButton type="primary" id="btn-show-information"/>
			</div>
		</div>
		<MoreInformation/>
	</main>
</Layout>
<script is:inline lang="ts">
	(() => {

		let moreInformation = document.getElementById('more-information');
		let btnShowInformation = document.getElementById('btn-show-information');
		btnShowInformation.addEventListener('click', function(e){
			console.log(e.target);
		});

	})();
</script>