---

---
<div class="notify-me flex flex-row justify-center">
    <div class="input-group border-2 border-b-semantic w-[90%]">
        <input type="text" placeholder="Write your email address" class="p-2 "/>
        <button class="bg-primary p-2" type="button">Search</button>
    </div>
</div>