---

---
<div class="notify-me flex flex-row justify-center z-10">
    <div class="input-group box-border w-[90%] max-w-[500px] flex flex-row rounded-sm overflow-hidden">
        <input type="text" placeholder="Write your email address" class="p-2 w-3/4 inline-block text-dark"/>
        <button class="bg-primary p-2 w-1/4 align-top" type="button">Subscribe</button>
    </div>
</div>