---

---
<div id="more-information" class="hidden absolute top-0 left-0 w-screen h-screen bg-semantic z-20">
    <div class="title">
        <h1 class="text-3xl flex justify-between mb-3 pl-2">
            Information
            <button type="button" id="btn-close-more-information" class="px-4 hover:text-neutral transition-all">X</button>
        </h1>
    </div>
    <div class="about lato-regular my-2 p-2">
        I’m a passionate developer dedicated to turning ideas into effective technological solutions. With experience in software development and a focus on quality and innovation, I strive to create applications that exceed expectations. My goal is to deliver creative and functional products while staying at the forefront of the latest technologies.
    </div>
    <div class="contact">
        <div class="lato-regular p-2">
            When I’m not coding, you’ll find me exploring new tech trends, reading sci-fi novels, or tinkering with the latest gadgets. I’m an avid gamer and enjoy diving into complex strategies and immersive worlds. I also have a passion for outdoor adventures and love hiking to unwind and recharge. Balancing my tech interests with a love for nature keeps me inspired and motivated in both my personal and professional life.
        </div>
        <div class="responsable p-2 flex flex-row">
            <div class="w-1/2">
                <p>Address</p>
                <p class="lato-regular text-sm">123 Tech Avenue, Suite 456</p>
                <p class="lato-regular text-sm">Innovation City, CA 98765</p>
                <p class="lato-regular text-sm">USA</p>
            </div>
            <div class="w-1/2 p-2 lato-regular flex flex-col">
                <h5 class="lato-bold">Ivan Alvarado</h5>
                <p class="lato-regular text-dark">Fullstack Developer</p>
                <a class="text-neutral text-xs" href="mailto:ivan.alvarado@studiogeek.com.mx">ivan.alvarado@studiogeek.com.mx</a>
                <a class="text-neutral text-xs" href="https://www.linkedin.com/in/atxy2k/">Linked.in</a>
                <a class="text-neutral text-xs" href="https://x.com/angrydevelopr">X</a>
            </div>
        </div>
    </div>
</div>